.header{
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 5px;
}

.title{
    font-size: 3.5rem;
    font-family: 'Exo 2', sans-serif;
}

.subheader{
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
}

.link {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}