<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {%- assign date_format = site.data_format | default: "%b %-d, %Y" -%}

  <body>
    {%- include header.html -%}
    {%- include nav.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <div class="posts wrapper">
      {%- for post in site.posts -%}
        {%- assign link = post.link_out | default: post.url | relative_url -%}
        <div class="post-sample">
          <a class="post-link" href="{{ link | relative_url}}">{{ post.title | escape}}</a>
          <span class="post-info">{{ post.date | date: date_format }}</span>
          <div class="post-content">{{ post.content | truncatewords: 100 }}</div>
        </div>
        <hr class="separator">
      {%- endfor -%}
    </div>
  </body>

</html>
